PORT=3000
NODE_ENV=development
MONGODB_URI_LOCAL=mongodb://127.0.0.1:27017/budget_app
MONGODB_URI_ATLAS=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/budget_app

JWT_SECRET=change-me
EXPOSE_DEV_CODE=false
